.overflow_container {
    height: 100%;
    overflow: auto;
    overflow-anchor: auto;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.75rem;
    justify-content: flex-end;
    margin: 1rem 2rem;
    overflow-anchor: auto;

    & > .no_messages {
        color: var(--fg-fade);
        font-size: 0.8rem;
        font-style: italic;
        margin-top: auto;
        text-align: center;
    }
}

.show_more {
    color: var(--fg-fade);
    font-size: 0.8rem;
    font-style: italic;
}

.input {
    align-items: center;
    background-color: var(--bg-heavy-fade);
    display: flex;
    gap: 1rem;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    position: relative;
    width: 100%;
}

.input > textarea {
    background-color: var(--bg-fade);
    border: 1px solid var(--fg-fade);
    border-radius: 0.35rem;
    color: var(--fg);
    flex: 1;
    max-height: 7.4em; /* 6 rows */
    padding: 0.5rem;
    resize: none;
    word-break: break-all;
}

.send {
    width: 2rem;
}

.error {
    color: var(--error);
    font-size: 0.85em;
    left: 1rem;
    margin-bottom: -0.5rem;
    position: absolute;
    top: -0.7rem;
}
