.add {
    background-color: var(--accent-d);
    border-radius: 0.5rem;
    margin-block: 0.5rem;
    padding: 0.5rem;

    &:hover {
        background-color: var(--accent-l);
        color: var(--fg-contrast);
    }

    &:disabled {
        background-color: var(--accent-d);
        color: var(--fg);
        cursor: auto;
        filter: opacity(0.2);
        user-select: none;
    }
}

.participants {
    align-items: center;
    background-color: var(--bg-heavy-fade);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    min-height: 2.5rem;
    padding: 0.5rem;

    & > button {
        background-color: var(--accent-d);
        border-radius: 0.5rem;
        padding-inline: 0.5rem;

        &:hover {
            background-color: var(--accent-l);
            color: var(--fg-contrast);
        }
    }
}

.friends {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & > div {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
