.add {
    background-color: var(--accent-d);
    border-radius: 0.5rem;
    margin-block: 0.5rem;
    padding: 0.5rem;

    &:hover {
        background-color: var(--accent-l);
        color: var(--fg-contrast);
    }

    &:disabled {
        background-color: var(--accent-d);
        color: var(--fg);
        cursor: auto;
        filter: opacity(0.2);
        user-select: none;
    }
}

.overflow_container {
    flex: 1;
    overflow: auto;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.channel {
    padding: 1rem;
    transition: 120ms ease;

    & .name {
        font-weight: bold;
    }

    &:hover {
        background-color: var(--bg-heavy-fade);
    }
}

.details {
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
}

.message_preview {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 0.8rem;
    font-style: italic;
    -webkit-line-clamp: 1;
    max-width: 30ch;
    overflow: hidden;
    word-break: break-all;

    & > span {
        font-weight: bold;
    }
}

.participants {
    font-size: 0.7rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}
