.settings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form > input:disabled {
    opacity: 0.4;
}

.form button {
    background-color: var(--accent-d);
    border-radius: 0.5rem;
    flex: 1;
    padding-inline: 0.5rem;

    &:hover {
        background-color: var(--accent-l);
        color: var(--fg-contrast);
    }
}

.set {
    display: flex;
    gap: 1rem;
}

.error {
    color: var(--error);
    font-size: 0.8rem;
}
