.header {
    align-items: center;
    background-color: var(--bg-heavy-fade);
    display: flex;
    gap: 0.5rem;
    height: fit-content;
    overflow-wrap: anywhere;
    padding-left: 0.5rem;
    position: relative;
    width: 100%;

    & > h1 {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: 1rem;
        -webkit-line-clamp: 2;
        max-width: 65vw;
        overflow: hidden;
    }
}

.button {
    height: 2rem;
    padding: 0.4rem;
    width: 2.5rem;

    & > svg {
        height: 100%;
        transition: 120ms ease;
        width: 2rem;

        &:hover {
            color: var(--accent-l);
        }
    }
}

.options {
    height: 100%;
    margin-left: auto;
    padding-right: 2.5rem;

    &:hover {
        cursor: pointer;
        padding-left: 1.5rem;
    }
}

.menu {
    background-color: var(--bg-m);
    margin: 0;
    position: absolute;
    right: 0;
    width: min(45vw, 180px);
    z-index: 100;
}

.menu_options {
    list-style: none;
    margin: 0;

    & > * {
        min-height: 3.5rem;
        padding: 1rem;
        text-align: right;
        user-select: none;
        width: 100%;

        &:hover {
            background-color: var(--bg-d);

            &:is(button) {
                color: var(--accent-l);
            }
        }
    }
}

.friend {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.new_name {
    align-items: center;
    display: flex;
    gap: 1rem;

    & > input {
        flex: 1;
    }
}
