.overflow_container {
    flex: 1;
    overflow: auto;
    width: 100%;
}

.no_friends {
    text-align: center;
}

.friends_list {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-top: 3px; /* for tab focus outline to show */
    width: min(95vw, 1000px);
}

.friend {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    & > span {
        font-weight: bold;
    }
}

.friend button {
    border-radius: 0.5rem;
    transition: 120ms ease;

    &:hover {
        background-color: var(--accent-l);
        color: var(--fg-contrast);
    }
}

.friend_request {
    align-items: center;
    display: flex;
    gap: 0.75rem;
}

.remove {
    background-color: transparent;

    &::before {
        content: 'Friend';
    }

    &:hover::before,
    &:focus::before {
        content: 'Remove?';
        padding-inline: 0.5rem;
    }

    @media (pointer: coarse) {
        background-color: var(--accent-d);

        &::before {
            border-radius: 0.5rem;
            color: var(--fg);
            content: 'Remove?';
            padding-inline: 0.5rem;
        }
    }
}
.results {
    display: flex;
    flex-direction: column;
    max-height: 50svh;
}

.results > div {
    display: flex;
    justify-content: space-between;
    padding-block: 0.5rem;

    & > span {
        font-weight: bold;
    }
}
